.pinkText {
    color: pink;
}

.greycol {
    color: gray;
}

.redText {
    color: red;
}

.redText:hover {
    color: rgb(91, 35, 35);
}

.greenText {
    color: green;
}

.yellow {
    color: yellow;
}

li {
    list-style-type: none;
}

#auhtor:link {
    font-size: 30px;
}

#auhtor:visited {
    font-size: 20px;
}

.input {
    width: 100px;
    background-color: blue;
}

.input:focus {
    width: 300px;
    background-color: aqua;
}